src/main/mule/cicd-maven-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cd8eb83e-55cc-4646-81aa-ff3c8d80ebe2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-maven-1Flow" doc:id="515c06bc-b652-49c0-91ae-0077eb25ec81" >
		<http:listener doc:name="Listener" doc:id="f31680df-511e-4072-8842-04cfe9c4e033" config-ref="HTTP_Listener_config" path="/cicd1"/>
		<set-payload value='#["Deployment is a Success"]' doc:name="Set Payload" doc:id="e53f8657-7c0b-4e55-84af-80e9ee047620" />
	</flow>
</mule>
